footer{
    width: 100%;
    background: #0f141f !important;
    color: white;
    padding: 20px;
    p {
        font-size: 20px;
        color: white;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .socical_network{
        display: flex;
        justify-content: center;
       
        .social{
            width: 50px;
            height: 50px;
            margin: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            i{
                font-size: 20px;
                
            }
            &:hover{
                background-color: white !important;
            }
            &:nth-child(1){
                background-color: #537bc0;
                &:hover{
                    path{
                        color: #537bc0 !important;
                    }
                }
            }
            &:nth-child(2){
                background-color: #1da1f2;
                &:hover{
                    path{
                        color: #1da1f2 !important;
                    }
                }
            }
            &:nth-child(3){
                background-color: #0077b5;
                &:hover{
                    svg{
                        color: #0077b5 !important;
                    }
                }
            }
            
        }
       
    }
    h5{
        color: #3d4047;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2.2px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 8px;
        position: relative;
        pointer-events: none;
    }
    .Content{
        .item{
            padding: 5px 0;
            a{
                color: white;
                font-size: 14px;
                font-weight: bold;
                // letter-spacing: 0.5px;
                &:hover{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    .row{
        display: flex;
        // align-items: center !important;
        justify-content: center;
    }
}