.navbar{
    padding: 10px;
    background-color: white !important;
    .nav-item{
        padding: 0 10px;
        display: flex;
        align-items: center;
        
        .nav-link{
            font-weight: bold;
            font-size: 18px;
            padding: 0px 10px;
        }
        &:hover{
            .nav-link{
                color: blue;
            }
        }
        &:nth-child(4){
            border-right: 1px solid black; 
        }
        &:nth-child(5){
           .nav-link{
             color: $color-blue;
           }
        
        }
        @include respond-to("medium"){
            text-align: center;
            margin: 10px 0;
            .nav-link{
                width: 100%;
                .button{
                    width: 100%
                }
            }
            &:nth-child(4){
                border-right: 0px solid black; 
            }
        }
    }
    
}