*{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
    font-family: normalFont;
    font-weight: 500;
}
html{
    scroll-behavior: smooth;
}
.clear{
    clear: both;
}

