.button{
    background-color: $color-blue;
    color: $color-white;
    border-radius: 5px;
    box-shadow: 0 0 0 0 $color-black-light;
    border: 2px solid $color-blue;
    padding: 10px 20px;
    &:hover{
        background-color:blue;
        color: white;
    }
    &:active, &:focus{
        box-shadow: none !important;
        outline: none !important;
        background-color:blue;

    }
    font-size: 20px;
  
}
.btnDatVe{
    width: 100%;
}
.btnSend{
    background-color: $color-blue;
    color: $color-white;
    border-radius: 10px;
    box-shadow: 0 0 0 0 $color-black-light;
    border: 2px solid $color-blue;
    width: 100%;
    &:hover{
        color: $color-blue;
        background: $color-white;
        box-shadow: inset 0px 0px 2px 0px $color-black-light;
    }
}