@mixin respond-to ($breakpoint){
    @if (map-has-key($map: $breakpoints, $key: $breakpoint)){
        $value : map-get($map: $breakpoints, $key: $breakpoint);
        @media screen and (max-width: $value) {
            @content;
        }
    }
}