$color-black: black;
$color-white: white;
$color-grey:#a5a5a5;
$color-blue: #1976d2;
$color-yellow:#fff544;
$color-orange:#fba549;
$color-gray-white:#f4f4f4;
$color-black-light:rgba(0,0,0,0.5);
$color-black-dark: rgba(0,0,0,0.8);


$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3:30px;
$pd-4:4%;
$pd-5:7%;

$mg-1:10px;
$mg-2: 20px;
$mg-3:30px;
$mg-4:40px;
$mg-5:50px;
$mg-6:200px;

$fs-0:13px;
$fs-1:16px;
$fs-2:17px;
$fs-3:20px;
$fs-4:30px;
$fs-5:40px;
//thêm ngày 22/01/2019
$fs-6:14px;
//thêm ngày 23/01/2019
$fs-7:15px;


$fw-bold:bold;
$fw-normal:normal;

$breakpoints:(
    'large': 992px,
    'medium': 768px,
    'small': 576px,
);
